@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Tittle"] = "Contact&About";
}
<section id="bg4" style="padding-left: 0px; padding-right: 0px;" class="col-md-12 col-sm-12 col-12">
    
</section>
<section id="bg5" style="padding-left: 0px; padding-right: 0px;" class="col-md-12 col-sm-12 col-12">
    <header id="ind">Welcome you joined us </header>
</section>
<div class="container-fluid">
    <div class="row" style="padding:20px;">
        <div class="col-md-8 col-sm-12 col-12">
            <input type="text" placeholder="Name" id="name" class="contact-form"><br><br>
            <input type="email" placeholder="Email address" id="email" class="contact-form"><br><br>
            <input type="text" placeholder="Message" id="message" class="contact-form"><br><br>
            <input type="submit" value="Submit" class="btn btn-info">
        </div>

        <div class="col-md-4 col-sm-12 col-12">
            <h2 id="ls">Contact us</h2>
            <p class="p10">
                if you have any idea want to contact us to talk about industry 4.0;
            </p>
            <p>e-mail:u3234732.uni.canberra.edu.au</p>
            <p>phone:0000000000</p>
        </div>
    </div>
</div>
