@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewData["Tittle"] = "Emerging Technologies";
}
<div class="container-fluid">
    <article>
        <section class="row">
            <figure class="col-md-6 col-sm-6 col-12" style="padding:0px; margin:0px;" onmouseover="displayInfo('div1')" onmouseout="removeInfo('div1')">
                <img src="../images/Homepage/ai.jpg" />

                <figcaption id="div1">
                    <p>Artificial intelligence</p>
                    <p class="stitle">
                        <a class="btn btn-info" href="https://www.ibm.com/watson">
                            IBM AI
                        </a>
                        <a class="btn btn-info" href="https://www.microsoft.com/en-us/ai?activetab=pivot1%3aprimaryr6">
                            Microsoft AI
                        </a>
</figcaption>

            </figure>
            <figure class="col-md-6 col-sm-6 col-12" style="padding:0px; margin:0px;" onmouseover="displayInfo('div2')" onmouseout="removeInfo('div2')">
                <img src="../images/Homepage/iot.jpg" />


                <figcaption id="div2">
                    <p>The Internet of things</p>
                    <p class="stitle">
                        <a class="btn btn-info" href="https://www.ibm.com/blogs/internet-of-things/industry-4-0/">
                            IBM IoT
                        </a>
                        <a class="btn btn-info" href="https://azure.microsoft.com/en-au/overview/iot/?site=mscom_iot">
                            Microsoft IoT
                        </a>
</figcaption>
            </figure>
            <figure class="col-md-6 col-sm-6 col-12" style="padding:0px; margin:0px;" onmouseover="displayInfo('div3')" onmouseout="removeInfo('div3')">
                <img src="../images/Homepage/cognitive.jpg" />

                <figcaption id="div3">
                    <p>Cognitive computing</p>
                    <p class="stitle">

                        <a class="btn btn-info" href="https://www.ibm.com/services/artificial-intelligence">
                            IBM CC
                        </a>
                        <a class="btn btn-info" href="https://azure.microsoft.com/en-au/services/cognitive-services/">
                            Microsoft CC
                        </a>
</figcaption>
            </figure>
            <figure class="col-md-6 col-sm-6 col-12" style="padding:0px; margin:0px;" onmouseover="displayInfo('div4')" onmouseout="removeInfo('div4')">
                <img src="../images/Homepage/cloud.jpg" />

                <figcaption id="div4">
                    <p>Cloud computing</p>
                    <p class="stitle">

                        <a class="btn btn-info" href="https://cloud.google.com/solutions/iot/">
                            Google Cloud
                        </a>
                        <a class="btn btn-info" href="https://azure.microsoft.com/en-au/">
                            Amazon Cloud
                        </a>
</figcaption>
            </figure>
            <figure class="col-md-6 col-sm-6 col-12" style="padding:0px; margin:0px;" onmouseover="displayInfo('div5')" onmouseout="removeInfo('div5')">
                <img src="../images/Homepage/robotics.jpg" />

                <figcaption id="div5">
                    <p>robotics</p>
                    <p class="stitle">

                        <a class="btn btn-info" href="https://www.forbes.com/sites/jimlawton/2018/03/20/the-role-of-robots-in-industry-4-0/#69de1dca706b">
                            Forbes
                        </a>
                        <a class="btn btn-info" href="https://www.zdnet.com/article/robotics-and-industry-4-0/">
                            ZDNet
                        </a>
</figcaption>
            </figure>
            <figure class="col-md-6 col-sm-6 col-12" style="padding:0px; margin:0px;" onmouseover="displayInfo('div6')" onmouseout="removeInfo('div6')">
                <img src="../images/Homepage/blockchain.jpg" />

                <figcaption id="div6">
                    <p>blockchain</p>
                    <p class="stitle">

                        <a class="btn btn-info" href="https://www.blockchain.com/">
                            Blockchain
                        </a>
                        <a class="btn btn-info" href="https://au.pcmag.com/amazon-web-services/46389/feature/blockchain-the-invisible-technology-thats-changing-the-world">
                            PC Magazine
                        </a>
</figcaption>
            </figure>
        </section>
        <hr />
    </article>
</div>